body {display: flex}

#start_container {margin: auto; width: fit-content; padding: 15rem 0;
    h1 {line-height: 1}
    hr {margin: 10rem auto}
    > *:not(hr) {margin: 0 15rem}
    li:not(.rules li) {display: flex; gap: 8rem; align-items: center; padding: 0 15rem; margin: 0;
        i, .key {background: var(--efy_bg1); border-radius: var(--efy_radius0); padding: 2rem 6rem;
            border: var(--efy_border); margin: 0; display: flex; aspect-ratio: 1; height: var(--efy_size0);
            align-items: center; place-content: center;
        }
        .key {font-weight: bold; font-size: 18rem;
            &.space {aspect-ratio: 2}
            &.fit {aspect-ratio: unset; padding: 2rem 8rem}
        }
    }
    .rules li {margin: 0; list-style-type: '• '}
    .efy_flex {margin-top: 15rem;
        button {margin: 0}
    }
}