[efy_content=gamepads], [efy_content=mappings] {display: flex; gap: var(---gap); background: transparent!important; border-radius: 0;
  padding: var(---gap) var(---gap) 0 var(---gap)!important; border: 0!important; height: calc(var(---100vh) - (var(---gap) * 4));
  align-items: center; place-content: center; overflow: auto;
  & > * {background: var(---card); padding: var(---gap); border: var(---border); border-radius: var(---radius)}
  .empty {max-width: 600rem; padding: 0;
    h5, ol {padding: var(---gap)}
    h5 {line-height: 1}
    hr {margin: 0}
  }
  &:has(.map) { align-items: unset; place-content: unset; padding: var(---gap)!important;
    .empty {display: none}
  }
}

[efy_content=gamepads] {flex-direction: column}

[efy_content=mappings] {width: 100%;
  .map {flex-wrap: nowrap; flex-direction: column; padding: 0; background: unset; gap: 0; height: fit-content;
    min-width: 180rem;
    &:first-of-type {width: fit-content; min-width: unset}
    > div {display: flex; height: var(---size); align-items: center; place-content: center; padding: 10rem 0;
      &:nth-of-type(odd) {background: var(---card)}
      &:first-of-type {border-radius: var(---radius) var(---radius) 0 0}
      &:last-of-type {border-radius: 0 0 var(---radius) var(---radius)}
      p {display: flex; width: 100%; align-items: center; place-content: center; font-weight: bold;
        &:last-of-type {border-left: var(---border)}
        i {margin: 0; font-weight: normal; line-height: 1; min-width: 26rem; min-height: 26rem}
        [efy_icon=copy] {scale: -1 1; rotate: 180deg}
      }
    }
    .sticks {display: flex; gap: 8rem}
  }
}

.info {display: flex; flex-wrap: wrap; gap: var(---gap);
  > div {display: flex; flex-wrap: wrap; gap: var(---gap-x); width: fit-content; padding: var(---padding); background: var(---card); border: var(---border); border-radius: var(---radius)}
}
.inputs {display: flex; gap: var(---gap)}
.map {display: flex; flex-wrap: wrap; gap: var(---gap)}
.buttons {display: flex; flex-wrap: wrap; gap: var(---gap-x); place-content: start}
.vibration {width: 100%}

.button {display: flex; flex-direction: column; align-items: center; place-content: center; background: var(---card);
  color: var(---text); border: var(---border); border-radius: var(---radius); aspect-ratio: 1; background-origin: border-box!important;
  &.active {background: var(---color); color: var(---bg);
      hr {border-color: var(---border-color-invert)}
  }
  p {line-height: 1; padding: var(---padding)}
  .index {font-size: 20rem; font-weight: bold; padding-bottom: 4rem}
  hr {margin: 0}
}
.axes {display: flex; align-items: flex-start; gap: var(---gap);
  .circle {position: relative; border: var(---border); background: var(---card); border-radius: var(---radius);
    .grid {width: 110rem; height: 110rem; position: relative;}
    .horizontal {width: 100%; height: 50%; border-bottom: var(---border)}
    .vertical {width: 50%; height: 100%; border-right: var(---border); position: absolute; top: 0}
    .axis {width: 12rem; height: 12rem; background: var(---color); position: absolute; border-radius: var(---radius-x)}
    .text {border-top: var(---border); padding: var(---padding2); text-align: center}
  }
}

body {height: var(---100vh); overflow: hidden; padding: 0}
#efy_gamepads_app {container: content0 / inline-size}

[efy_tabs=gp] {display:flex; flex-wrap: wrap; justify-content: space-between; gap: 0;
    :is(.gp_right, .gp_left) {display:flex; gap: var(---gap-x); align-items: center; height: fit-content}
    :is(.gp_right, .gp_left, .gp_left:last-of-type) *, :is(table, figcaption, input, textarea, select, section, [efy_number]) {margin: 0}
    .gp_left {flex-wrap: wrap}
    .gp_right {flex-wrap: nowrap}
    [efy_content=efy] {display: grid; gap: var(---gap); min-height: calc(var(---100vh) - var(---gap) * 6); align-items: center; place-content: space-evenly;
        & > div {display: flex; flex-direction: column; place-content: center; align-items: center; text-align: center}
        & h2 {text-transform: uppercase}
        & > div:first-of-type {
            & > h2 {line-height: 1; margin-bottom: 15rem; font-size: 62rem}
            & > p {font-size: 28rem}
        }
        #gp_buttons.apps {max-width: 1000rem; place-content: center}
    }
    [efy_content=apps]:not([efy_active]) {display: none}
    [efy_color] :is([type=number], [efy_number]) {margin-bottom: 10rem}
}

.gp_nav, .gp_nav_div {display: flex; justify-content: space-between; width: 100%}
.gp_nav_div {align-items: start; border-bottom: var(---border); padding: var(---gap-x)}
.gp_search {width: fit-content; height: fit-content; position: relative;
    & i {position: absolute; z-index: 2; 	width: fit-content; height: 100%; padding: calc(10rem + var(---border_size))}
    & input:focus {width: 170rem; padding-left: 35rem}
    & :not(input:focus, i), & :not(input:focus)::placeholder {color: transparent}
    &:not(&:focus-within) {display: flex; place-content: center}
}
.gp_search input, .gp_right [efy_sidebar_btn] {width: var(---size); height: var(---size); cursor: pointer}

.scroll_btn {position: absolute; pointer-events: none; width: 0; height: 0; opacity: 0}
[efy_content=mappings]:has(.scroll_btn:focus) {box-shadow: inset 0 0 0 calc(var(---border_size) + 1rem) var(---text-x)!important}