[efy_lang]{
--music_player:Music Player;
--text_editor:Text Editor;
--img_size:Image Size;
--bar_position:Bar Position;
--pitch:Pitch;
--strings:Strings;
--mono_font:Mono Font;
--song_image:Song Image;
--price:Price;
--income:Income;
--expenses:Expenses;
--link:Link;
--notes:Notizen;
--timer:Timer;
--links:Links;
--docs:Doku;
--center:Mitte;
--goals:Goals;
--launcher_mode:Launcher Mode;
--unreleased:Unreleased;
--priority:Priorität;
--low:Niedrig;
--medium:Mittel;
--high:Hoch;
--normal:Normal;
--edit:Bearbeiten;
--move:Verschieben;
--align_items:Align Items;
--inside_goal:Inside Goal;
--money:Geld;
--effects:Effekte;
--grid:Grid;
--tags:Tags;
--image:Bild;
--artist:Interpret;
--title:Titel;
--album:Album;
--number:Zugnummer;
--keywords:Schlüsselwörter;
--punctuation:Satzzeichen;
--comments:Kommentare;
--transaction:Übersetzung;
--description:Beschreibung;
--quantity:Menge;
--date:Datum;
--total:Gesamt;
--left_:Links: ;
--name: Name;
}