[efy_lang]{
--music_player: Player de Muzică;
--money: Bani;
--text_editor: Editor de Text;
--img_size: Mărime Imagini;
--effects: Efecte;
--grid: Grid;
--bar_position: Poziție Bară;
--tags: Taguri;
--pitch: Pitch;
--image: Imagine;
--artist: Artist;
--title: Titlu;
--album: Album;
--number: Număr;
--keywords: Cuvinte cheie;
--punctuation: Punctuație;
--strings: Stringuri;
--comments: Comentarii;
--mono_font: Font Mono;
--song_image: Imaginea cântecului;
--transaction: Tranzacție;
--description: Descriere;
--quantity: Cantitate;
--price: Preț;
--date: Dată;
--total: Total;
--income: Venit;
--expenses: Cheltuieli;
--left_: Rămas: ;
--link: Link;
--goals: Obiective;
--notes: Notițe;
--timer: Timer;
--links: Linkuri;
--docs: Docs;
--launcher_mode: Mod Lansare;
--unreleased: Nelansate;
--center: Centru;
--align_items: Aliniaza Item-urile;;
--priority: Prioritate;
--low: Mic;
--medium: Mediu;
--high: Mare;
--normal: Normal;
--inside_goal: Interior Obiectiv;
--edit: Editează;
--move: Mută;
--name: Nume;
--music_volume: Volum Muzică;
--media: Media;
--sounds: Sunete;
}