body {width: 100%}

.mn_nav {display: flex; justify-content: space-between; align-items: center}
.mn_nav :is(button, a[role=button], label) {margin: 0; white-space: nowrap; min-width: var(---size); height: var(---size); display: flex; align-items: center; place-content: center}

.mn_nav, .modal_overlay {margin-top: var(---gap)}

.button.cancel {display: flex; justify-content: center; align-items: center}

#balance {display: flex; gap: var(---gap)}
#balance h2 {color: #fff; margin-top: 0}

.percentageDisplay div {display: flex; gap: 10rem}
.percentageDisplay progress {display: flex; width: 100%; margin-top: 10rem}

#data_table {width: 100%; margin: var(---gap) 0 0 0}
table :is(td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(3)) {width: 100%; min-width: 100rem}

.mn_income_expense_color td.income {color: #12a454}
.mn_income_expense_color td.expense {color: #e92929}

.modal_overlay {display: none}
.modal_overlay.active {display: block}

#form {max-width: 500px}
#form h2 {margin-top: 0}

.modal {padding: 0}
.modal:focus-within {box-shadow: none!important}

.modal_grid {display: grid; grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr)); gap: var(---gap); border-top: var(---border); padding: var(---gap)}
.modal_grid :is(input, [efy_number]) {margin: 0}

.modal_grid .input_group {display: flex}
.modal_grid .input_group label {display: flex; padding: var(---padding); background: var(---bg1); border-radius: var(---radius) 0 0 var(---radius); border: var(---border); border-right: 0}
.modal_grid .input_group input {border-radius: 0 var(---radius) var(---radius) 0; height: 100%}
.modal_grid .input_group [efy_number] {width: 100%}
.modal_grid .input_group:focus-within label {box-shadow: 0 0 0 calc(var(---border_size) + 2rem) var(---text_trans2); border-color: var(---text_trans2)}
.modal_grid .input_group:focus-within {gap: calc(var(---border_size) + 2rem)}

.input_group.actions {padding: var(---gap)}
.input_group.actions, .input_group.actions .buttons {display: flex; justify-content: space-between; align-items: center; gap: var(---gap)}
.input_group.actions button {width: 100%; margin: 0}

#mn_search {margin: 0}

.mn_table thead .mn_row {background: var(---bg1)}
.mn_table thead .mn_row td {padding: var(---gap) calc(var(---gap0) + 5rem)}
.mn_table .mn_row td {padding: var(---gap0) 15rem}
.mn_table .mn_row td:last-of-type {padding: var(---gap0)}

#mn_backup {display: flex; flex-wrap: wrap; gap: var(---gap0)}
#mn_backup > :is(a, label, button) {margin: 0}

/*Temporary*/ [efy_number] button {display: none!important}

/*Convergence*/
@media (max-width: 799px) {
    #balance {flex-wrap: wrap}
}