:root {---body_padding: 0; --dw_current_color: var(---text);}
#efy_dw {width: 100%; height: var(---100vh); position: relative; overflow: hidden}

.dt-control-container {
  position: absolute;
  bottom: var(---gap);
  left: 50%;
  transform: translateX(-50%);
  border: var(---border);
  border-radius: var(---radius2);
  background: var(---bg1);
  display: flex;
  align-items: center;
  padding: var(---gap0);
  gap: var(---gap0);
}
.dt-dc-container {
  display: flex;
  align-items: center;
  place-content: center;
  gap: var(---gap0);
}
.dt-default-colors {
  position: relative;
  border-radius: 50%;
  width: var(---size);
  height: var(---size);
  border: var(---border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(---size);
  height: var(---size);
  border-radius: var(---radius);
}

.dw_current_color {background: var(--dw_current_color); display: flex; place-content: center; align-items: center; pointer-events: none;
  i {margin: 0;
    &:before {color: var(---text2)}
  }
}

.dw_color_menu {flex-direction: column; padding: var(---gap0) 0; place-content: start; align-items: start;
  .efy_hr_div {width: 100%; padding: 5rem 0 5rem var(---gap0);
    hr {margin-left: 8rem !important}
  }
  > *:not(.efy_hr_div) {padding: 0 var(---gap0)}
}

.dt-cp-container, .dt-undo-redo-container > div, .dt-download-container {
  width: var(---size);
  height: var(---size);
  border: var(---border);
  border-radius: var(---radius0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
}
.dt-color-picker {
  width: var(---size);
  height: var(---size);
  border-radius: var(---radius);
  background: radial-gradient(50% 50% at 50% 50%, oklch(.6 0 0 / 1) 0%, transparent 100%), conic-gradient(oklch(70% .3 0), oklch(63% .26 29), oklch(71% .17 55), oklch(71% .24 142), oklch(77% .13 202), oklch(64% .2 253), oklch(67% .27 318), oklch(70% .3 0));
}

.hide {
  display: none;
}

.dt-tools-container {
  position: relative;
  width: var(---size);
  height: var(---size);
  background: var(---color);
  border-radius: var(---radius);
  display: flex;
  align-items: center;
  place-content: center;
}
.dt-tools-container img {
  position: absolute;
  max-height: 70px;
  bottom: -25px;
  transition: all 0.2s;
  cursor: pointer;
}

.dt-undo-redo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(---border);
  padding: 0 0 0 var(---gap0);
  gap: var(---gap0);
}

.dt-undo-redo-container img {
  width: 18px;
  cursor: pointer;
}
.dt-download-container, .dt-undo-redo-container > div {background: var(---bg1)}

.dt-download-container img {
  width: 18px;
  cursor: pointer;
}

.dw_shapes, .dw_actions {width: 100%; display: flex; flex-wrap: wrap; gap: var(---gap0);
  button {margin: 0}
  [efy_range_text] {width: 100%}
}

.dt-tools-container [efy_icon=edit]:before {color: var(---text2)}
[efy_icon=square]:before {content: ''; background: var(---text2); width: 16rem; height: 16rem; transform: skew(-15deg, -15deg)}
[efy_icon=checkboard]:before {content: ''; width: 16rem; height: 16rem;
  background: conic-gradient(var(---text2) 25%, transparent 0 50%, var(---text2) 0 75%, transparent 0); background-size: 50% 50%; border: 1px solid var(---text2);
  border-radius: var(---radius00)
}