:root{---sidebar_button: right_top, on}
.efy_iframe :is(.efy_sidebar, [efy_sidebar_btn*=absolute]) {display: none}

[ttt] {
  display: flex; flex-direction: column; align-items: center; place-content: center;
  height: calc(var(---100vh) - (var(---gap) * 2));
  .cells {
    display: grid; grid-template-columns: repeat(3, 1fr);
    border-radius: var(---radius); border: var(---border); background: var(---card);
    :is([name=xo_cells], [name=xo_cells]:checked) + label {
      display: flex; align-items: center; justify-content: center;
      height: 100rem; aspect-ratio: 1; -webkit-text-fill-color: unset!important; margin: 0!important;
      background: none; border-radius: 0; border: var(---border); border-top: none; border-left: none; color: var(---text)!important;
      font-size: 50rem; font-weight: bold; cursor: pointer;
      &:before, &:after {display: none}
      &:nth-child(3n) {border-right: none}
      &:nth-last-child(-n+5) {border-bottom: none}
      &:is([efy_outline] input:focus + label) {border-radius: var(---radius)}
    }
  }
  #result {display: none; text-align: center; margin-top: 15rem}
  button {display: block; margin: 0 auto; margin-top: 15rem}
}
.control {display: flex; gap: var(---gap-x); align-items: center; margin-top: calc(var(---gap) + 15rem);
  :is(button, label) {margin: 0; height: var(---size); display: flex; align-items: center; place-content: center; line-height: 1}
}
#pn_confetti {
  position: fixed; inset: 0; z-index: 99999; object-fit: cover; width: 100vw; height: var(---100vh);
  border-radius: 0!important; background-position: var(---bg_x) var(---bg_y)!important; pointer-events: none;
}
[efy_mode*=light] #pn_confetti {filter: invert(1)}

.xo_menu {display: flex; flex-wrap: wrap; gap: var(---gap);
  p {width: 100%; line-height: 1}
  input {width: 4ch; margin: 0}
}