:root {--efy_body_padding: 0}

[rc_app] {display: flex; flex-direction: column; gap: var(--efy_gap); width: 100%; height: var(--efy_100vh); max-height: var(--efy_100vh); margin: 0; overflow: hidden;
    .video_grid {
        display: flex; gap: var(--efy_gap); width: 100%; height: 100%; overflow-y: auto; padding: var(--efy_gap) var(--efy_gap) 0 var(--efy_gap);
        height: 100%; max-height: calc(var(--efy_100vh) - var(--efy_size) - var(--efy_border_size) * 2 - var(--efy_gap2))
    }
    .video_grid.columns2 video {max-width: calc(50% - var(--efy_gap) / 2)}
    & video {margin: 0; height: 100%; background: var(--efy_bg1); border: var(--efy_border); flex: 1}
} [rc_app*=top] {flex-direction: column-reverse}

[rc_bar] {width: calc(var(--efy_bg_width) - var(--efy_gap2)); display: flex; gap: 10rem; flex-wrap: wrap; justify-content: space-between; padding: var(--efy_gap0); background: var(--efy_bg1); border-radius: var(--efy_radius); border: var(--efy_border); margin: 0 var(--efy_gap) var(--efy_gap) var(--efy_gap);
    :is(input, button, select, label) {width: fit-content; margin: 0}
    .efy_flex {gap: 10rem}
    & label { width: var(--efy_size); height: var(--efy_size); background-origin: border-box!important;
        :is(.square) {background: var(--efy_text2); width: 16rem; height: 16rem}
        .circle {border-radius: 50%}
        .square {border-radius: var(--efy_radius00)}
    }
    [efy_select] [for=recordToggle] {background: var(--efy_color); padding: 8rem}
    [efy_select] [for=recordToggle]:before {-webkit-mask: none!important; background: var(--efy_bg)!important; border-radius: 50%; width: 16rem; height: 16rem; margin: 0; border: 0}
    [efy_select] #recordToggle:not(:checked) + label:before {background: transparent!important; content: "\e914"; -webkit-text-fill-color: var(--efy_bg); font-family: 'efy_icons'; line-height: 1; margin-bottom: -3rem}
    [efy_select] label:after, [efy_select] [type=checkbox]:checked + label:after {display: none; content: none}
    :is(#videoSource, #audioSource) {width: var(--efy_size); background: var(--efy_bg1); border-left: 0}
    .source_input, .select_icon {display: flex; align-items: center}
    .select_icon {position: relative; place-content: center;
        & i {position: absolute; margin: 0}
    }
    .source_input {
        & label {border-radius: var(--efy_radius) 0 0 var(--efy_radius); padding: 8rem}
        & select {border-radius: 0 var(--efy_radius) var(--efy_radius) 0; cursor: pointer}
        #microphoneToggle + label:before {content: "\e914"!important; font-family: 'efy_icons'}
        &:has(input:checked) {
            .select_icon {display: none}
            & label {border-radius: var(--efy_radius); background: var(--efy_bg1); -webkit-text-fill-color: var(--efy_text)}
        }
    }
    .source_input label:before, [efy_select] [for=fullscreen]:before {margin: 0; display: none}
    .source_input i, [efy_select] [for=fullscreen] i {margin: 0}
    [efy_select] #screenShareToggle {
        & + label {border-radius: var(--efy_radius); background: var(--efy_bg1); -webkit-text-fill-color: var(--efy_text)}
        &:checked + label {background: var(--efy_color); -webkit-text-fill-color: var(--efy_bg)}
    }
}
[rc_bar]:has([value=audio]:checked) .source_input:has(#cameraToggle, #screenShareToggle) {display: none}
[rc_bar]:has([value=image]:checked) .source_input:has(#microphoneToggle) {display: none}