[os_drawer] [efy_card] [efy_icon=sun]:before {font-size: 40rem}

:root {---body_padding: 0; --os_thumb_height: 50rem}
html, body {overflow: hidden}
.efy_sidebar {overflow-x: hidden}

[os_app] {--os_grid_gap: 3; width: 100%; height: var(---100vh); max-height: var(---100vh); display: flex; flex-direction: column; gap: var(---gap); margin: 0; overflow: hidden; padding: var(---gap)}
[os_app*=top] {flex-direction: column-reverse}
[os_app*=left] {flex-direction: row-reverse} [os_app*=right] {flex-direction: row}
:is([os_app*=left], [os_app*=right]) [os_bar] [efy_clock] {padding: 8rem 5rem}
:is([os_app*=left], [os_app*=right]) [os_bar] [efy_clock] :is(.s1, .s2) {width: 100%; border-top: var(---border); content-visibility: hidden; margin: 5rem 0 calc(var(---border_size) + 5rem) 0}
:is([os_app*=left], [os_app*=right]) [os_bar] [efy_clock] p {font-size: 23rem}
:is([os_app*=left], [os_app*=right]) :is([os_bar], [os_bar] [efy_clock], .os_buttons, .os_buttons > div) {flex-direction: column; width: fit-content}

.os_loader { position: fixed; top: 15rem; left: 15rem; width: 300rem; height: 100rem; bottom: 0; background: #0003; z-index: 10; backdrop-filter: blur(10px); display: flex; justify-content: center; align-items: center; border-radius: var(---radius)}

[os_bar] {width: 100%; display: flex; gap: 10rem; flex-wrap: wrap; justify-content: space-between; padding: var(---gap-x); border: var(---border); border-radius: var(---radius-o); background: var(---card)}
[os_bar] :is([efy_clock], .os_speed_text) {line-height: 1; padding: 5rem 8rem; font-size: 26rem; border-radius: var(---radius)}
[os_bar] [efy_clock] p {font-size: 26rem}
[os_bar] :is(button, input, label) {margin: 0}

[os_grid_gap*=small] {--os_grid_gap: 1}
[os_grid_gap*=none] {--os_grid_gap: 0}
[os_grid_gap*=small], [os_grid_gap*=none] {padding: 0}
[os_grid_gap*=small] [os_bar] {border-radius: var(---radius-o) var(---radius-o) 0 0; border: 0; border-top: var(---border)}
[os_grid_gap*=small] :is([efy_frames], [os_drawer], [efy_frame]:first-of-type) {border-top-left-radius: 0}
[os_grid_gap*=small] :is([efy_frames], [os_drawer], [efy_frames] [efy_frame]:only-child) {border-top-right-radius: 0}
[os_grid_gap*=none], [os_grid_gap*=none] [efy_frames] {gap: 0}
[os_grid_gap*=none] :is([efy_frames], [efy_frames] [efy_frame], [os_drawer], [os_bar]) {border-radius: 0}

.os_buttons, .os_buttons > div {display: flex; gap: var(---gap-x)}
.os_buttons :is(button, label) {aspect-ratio: 1; height: var(---size); align-items: center; justify-content: center}

.os_speed_text, .os_time_text {display: flex; gap: 5rem; align-items: center; width: fit-content; height: 38rem; padding: 7rem 10rem; font-weight: bold; color: var(---text); -webkit-text-fill-color: var(---text)}
.os_speed_text {aspect-ratio: unset!important}
.os_speed_menu {position: absolute; display: flex; flex-wrap: wrap; gap: 10rem; width: fit-content; top: -115rem; right: 0; margin: calc(-1 * var(---gap)) var(---gap) 0 0}

[os_grid] {width: 100%; display: grid; grid-template-columns: 1fr 1fr; gap: var(---gap)}
[os_grid="1"] {grid-template-columns: 1fr} [os_grid="3"] {grid-template-columns: 1fr 1fr 1fr} [os_grid="4"] {grid-template-columns: 1fr 1fr 1fr 1fr}

.os_grid_box {width: 100%; height: 100%; overflow-y: auto; border-radius: var(---radius)}

:is(.efy_sidebar details details):not([open]) {padding: 0 12rem}
[efy_tabs=ms_menu] [efy_content=grid] p:first-of-type {line-height: 1; margin: 0 0 10rem 0}

#bar_position {
    div {display: flex; gap: var(---gap-x); flex-wrap: wrap;
        label {margin: 0}
    }
    [efy_range_text="Columns"] {margin-top: var(---gap-x); gap: 0}
}

[os_bar] .mobile {display: none}
[os_bar] .desktop {display: flex}

[efy_frames] {display: grid; grid-template-columns: repeat(auto-fit, minmax(400rem, 1fr)); gap: var(---gap); width: 100%; height: 100%; border-radius: var(---radius); overflow-y: auto; scroll-snap-type: both mandatory; overscroll-behavior-x: contain}
[efy_frames].eos_full {grid-template-columns: 1fr}

[efy_frames] [efy_frame] {width: 100%; height: calc(var(---100vh) - 35.4rem - (var(---gap) * (var(--os_grid_gap))) - (var(---gap-x) * 2) - (var(---border_size) * 4)); border-radius: var(---radius); border: var(---border); background: var(---card); scroll-snap-stop: always; scroll-snap-align: center; overflow: hidden}
:is([os_app*=left], [os_app*=right]) [efy_frames] [efy_frame] {height: calc(var(---100vh) - (var(---gap) * (var(--os_grid_gap) - 1)))}

[efy_frames] [efy_frame] iframe {overflow: scroll; border: 0; width: 100%; height: 100%}
/*[efy_outline]*/ [efy_frame][efy_active] {border-color: var(---text); box-shadow: inset 0 0 0 2rem var(---text)}

[efy_frames].remove [efy_frame] {border-color: var(---text)}
[efy_frames].remove iframe {pointer-events: none}

/*Drag*/ [efy_drag=on] * {cursor: move!important} [efy_drag=on] * > * {pointer-events: none}
[efy_drag=on] > *.active {border: var(---border_size) dashed var(---text); background: transparent}
#os_drag_toggle, #os_remove, :is([for=os_drag_toggle], [for=os_remove]):before, :is([for=os_drag_toggle], [for=os_remove]):after {display: none!important}

/*Fix 2 BG Glitch*/ [for=os_drag_toggle] [efy_icon=move]:before, [os_drawer] [efy_card] [efy_icon=plus]:before {background-clip: text!important; background: var(---color); color: transparent}
[efy_color_button] [for=os_drag_toggle] [efy_icon=move]:before, [efy_color_button] [os_drawer] [efy_card] [efy_icon=plus]:before {background: oklch(var(---color_button) / .7)}

/*iFrames*/ [efy_frame*=iframe] {overflow: hidden!important}
[efy_frame] iframe {border: 0; width: 100%; height: 100%}

/*App Drawer*/ [os_drawer] {width: 100%; height: 100%; overflow: auto}
[os_drawer]:active {transform: scale(1)!important}
[os_drawer] .apps {display: grid; grid-template-columns: repeat(auto-fill, minmax(67rem, 1fr)); gap: calc(var(---gap) * 3) calc(var(---gap) * 2); align-self: center; align-items: var(--dc_dash_align); padding-bottom: 25rem}
.soon_off .soon {display: none!important}

[os_drawer] [efy_card] {display: flex; align-items: center; height: fit-content; color: var(---text)!important; -webkit-text-fill-color: var(---text)!important; padding: 0; margin: 0; flex-direction: column; background: transparent; border: 0; width: 100%; aspect-ratio: 1; position: relative}
[efy_color_button] [os_drawer] [efy_card]:not(.add_app) :is(i, .logo) {box-shadow: var(---shadow_button)!important}
[os_drawer] [efy_card] :is(i, .logo) {padding: 15rem; border-radius: var(---radius); display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; font-size: 30rem; margin: 0}
[efy_color_button] [os_drawer] [efy_card] :is(i, .logo):not([efy_icon=plus]) {-webkit-text-fill-color: oklch(var(---color_button))!important}
[os_drawer] [efy_card] [efy_icon=plus]:before {margin: 0; font-size: 22rem}
[os_drawer] .logo {background: var(---color)}
[os_drawer] [efy_card] .column_flex {display: flex; flex-direction: column; align-items: center; margin: 0!important; padding: 0!important; width: 100%; position: absolute; top: 100%}
[os_drawer] [efy_card] .column_flex .name {padding: 8rem 0 0 0; font-weight: normal; font-size: 14rem}

/*Add Apps*/ .pn_links_form .grid {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: var(---gap)}
.pn_links_form .grid input {margin-bottom: 0}

.modal_grid .input-group {display: flex}
.modal_grid .input-group label:not(details label) {display: flex; padding: var(---padding); background: var(---card); border-radius: var(---radius) 0 0 var(---radius); border: var(---border); border-right: 0}
.modal_grid .input-group :is(input, select) {border-radius: 0 var(---radius) var(---radius) 0; height: 100%; line-height: 1; margin: 0}
.modal_grid .input-group [efy_number] {width: 100%}
.modal_grid .input-group:focus-within :is(label:not(details label), input:not(input:focus)) {box-shadow: 0 0 0 calc(var(---border_size) + 2rem) var(---text-xx); border-color: var(---text-xx)}
.modal_grid .input-group:focus-within {gap: calc(var(---border_size) + 2rem)}


[efy_mode*=trans] :is([os_bar], [efy_frames] [efy_frame], [os_drawer]) {backdrop-filter: blur(50rem) brightness(.8); -webkit-backdrop-filter: blur(50rem) brightness(.8)}


/*Convergence*/
@media (max-width: 767.9px){
    [os_grid] {grid-template-columns: 1fr}
    #bar_position :is(#os_grid_columns, [efy_range_text="Columns"]), [os_bar] .desktop {display: none}
    [os_bar] .mobile {display: flex}
    .os_buttons {justify-content: space-between; place-content: center}
}
@media (max-width: 389px){
    .os_fullscreen {display: none}
}
@media (max-width: 400px){
    [efy_frames] {grid-template-columns: repeat(auto-fit, minmax(250rem, 1fr))}
}