body {padding: 0; height: var(---100vh); overflow: hidden}

#sports_app {container: content0 / inline-size; display: flex; flex-direction: column; place-content: start;
    align-items: center; width: 100%; height: 100%;
    .container {height: 100%; width: 100%; display: grid; grid-template-columns: 1fr 40%;

        .poses_container {display: flex; flex-direction: column; border-left: var(---border); overflow: hidden;
            #controls {display: flex; align-items: center; justify-content: space-between; gap: var(---gap0); border-bottom: var(---border);
                padding: var(---gap0);
                .efy_flex {gap: var(---gap0)}
                #secondsLeft, #totalSecondsLeft {width: fit-content}
                button {margin: 0}
            }
            progress {width: 100%; display: flex; border-radius: 0; height: 8rem!important}
            ::-webkit-progress-bar, ::-webkit-meter-bar {border-radius: 0; height: 8rem!important}
            ::-webkit-progress-value {border-radius: 0 var(---radius) var(---radius) 0; height: 8rem!important}
        }

        .poses {display: grid; grid-template-columns: repeat(auto-fill, minmax(250rem, 1fr)); gap: var(---gap0);
            align-items: start; place-content: start; overflow-y: auto; padding: var(---gap0);
            width: 100%; height: calc(100% - var(---size) - (var(---gap0) * 2));
            [pose] {width: 100%; display: flex; padding: 10rem; gap: 10rem; background-origin: border-box!important;
                [efy_pose] {height: 48rem; aspect-ratio: 1; font-size: 48rem}
                .time {display: none}
                * {pointer-events: none}
                &.active {background: var(---color);
                    [efy_pose] {background: var(---bg); background-clip: text}
                    p {color: var(---bg)}
                }
            }
        }
        #active_pose {height: 100%; width: 100%; min-height: 450rem; font-size: 60cqmin; padding: var(---gap2);
            display: flex; flex-direction: column; gap: 15rem; align-items: center; place-content: center;
            .name {font-size: 25rem; font-weight: bold}
            .icon_container {display: flex; align-items: center; place-content: center; height: 100%}
            [efy_pose] {font-size: 60cqmin; line-height: 1}
        }
    }
}

/*Convergence*/

@container content0 (max-width: 767.9px){
    #sports_app .container {grid-template-columns: 1fr;
        .poses_container {border-left: 0; border-top: var(---border);
            progress {display: flex; order: -1}
            .poses {height: calc(100% - var(---size) - (var(---gap0) * 2) - 8rem)}
        }
    }
}

/*Icons*/

@font-face {font-family: 'efy_poses'; src: url('./assets/efy_poses.ttf') format('woff2');
    font-weight: normal; font-style: normal;
}
[efy_pose] {align-items: center; place-content: center; font-family: 'efy_poses'!important; speak: never; font-style: normal;
    font-weight: normal; font-variant: normal; text-transform: none; vertical-align: middle; background: var(---color);
    background-clip: text; -webkit-text-fill-color: transparent; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    &, &:before {display: inline-flex}
}
[efy_pose=upward_forward_fold_hands_on_shins]:before {content: '\e900'}

[efy_pose=seated_forward_bend] {
    &:before {content: '\e900'}
}
.icon_container:has([efy_pose=seated_forward_bend]) {rotate: -90deg}