[efy_theme="violet pastel"] [efy_preview] {
---scheme: light;
---mode: light,solid;
---bg: oklch(1 .15 300);
---card: oklch(.2 .2 300 / .07);
---color: linear-gradient(var(---color_angle), oklch(.5 .2 300), oklch(.5 .2 300));
---color_trans: linear-gradient(var(---color_angle), oklch(.5 .2 300 / .3), oklch(.5 .2 300 / .3));
---text: oklch(.2 .2 300);
---radius: 4rem;
---border: var(---border_size) solid oklch(.5 .2 300);
}