[efy_lang]{
--money: Money;
--text_editor: Text Editor;
--img_size: Image Size;
--effects: Effects;
--grid: Grid;
--bar_position: Bar Position;
--tags: Tags;
--pitch: Pitch;
--image: Image;
--artist: Artist;
--title: Title;
--album: Album;
--keywords: Keywords;
--punctuation: Punctuation;
--strings: Strings;
--comments: Comments;
--mono_font: Mono Font;
--song_image: Song Image;
--transaction: Transaction;
--description: Description;
--quantity: Quantity;
--total: Total;
--income: Income;
--expenses: Expenses;
--left_: Left: ;
--goals: Goals;
--notes: Notes;
--launcher_mode: Launcher Mode;
--unreleased: Unreleased;
--center: Center;
--align_items: Align Items;
--priority: Priority;
--low: Low;
--medium: Medium;
--high: High;
--normal: Normal;
--edit: Edit;
--move: Move;
--name: Name;
--music_volume: Music Volume;
--media: Media;
--sounds: Sounds;
--goal: Goal;
--note: Note;
--goal_note: Goal / Note;
--time: Time;
--vibration: Vibration;
--contacts: Contacts;
--storage: Storage;
--clear: Clear;
--undo: Undo;
--redo: Redo;
--group: Group;
--views: Views;
--cards: Cards;
--masonry: Masonry;
--table: Table;
--nodes: Nodes;
--calendar: Calendar;
--learn: Learn;
--tall: Tall;
--start_open: Start Open;
--add_field: Add Field;
--email: Email;
--emails: Emails;
--phone: Phone;
--phones: Phones;
--birthday: Birthday;
--task: Task;
--tasks: Tasks;
--score: Score;
--scores: Scores;
--timer: Timer;
--timers: Timers;
--price: Price;
--prices: Prices;
--texts: Texts;
--number: Number;
--numbers: Numbers;
--date: Date;
--dates: Dates;
--color: Color;
--colors: Colors;
--link: Link;
--links: Links;
--open: Open;
--none: None;
--card_accent: Card Accent;
--icon: Icon;
--header: Header;
}