[efy_lang]{
--money: Money;
--text_editor: Text Editor;
--img_size: Image Size;
--effects: Effects;
--grid: Grid;
--bar_position: Bar Position;
--tags: Tags;
--pitch: Pitch;
--image: Image;
--artist: Artist;
--title: Title;
--album: Album;
--number: Number;
--keywords: Keywords;
--punctuation: Punctuation;
--strings: Strings;
--comments: Comments;
--mono_font: Mono Font;
--song_image: Song Image;
--transaction: Transaction;
--description: Description;
--quantity: Quantity;
--price: Price;
--date: Date;
--total: Total;
--income: Income;
--expenses: Expenses;
--left_: Left: ;
--link: Link;
--goals: Goals;
--notes: Notes;
--timer: Timer;
--links: Links;
--docs: Docs;
--launcher_mode: Launcher Mode;
--unreleased: Unreleased;
--center: Center;
--align_items: Align Items;
--priority: Priority;
--low: Low;
--medium: Medium;
--high: High;
--normal: Normal;
--inside_goal: Inside Goal;
--edit: Edit;
--move: Move;
--name: Name;
--music_volume: Music Volume;
--media: Media;
--sounds: Sounds;
--goal: Goal;
--note: Note;
--goal_note: Goal / Note;
--time: Time;
--vibration: Vibration;
--contacts: Contacts;
--storage: Storage;
--clear: Clear;
--undo: Undo;
--redo: Redo;
--group: Group;
--email: Email;
--phone: Phone;
--birthday: Birthday;
--views: Views;
--cards: Cards;
--masonry: Masonry;
--table: Table;
--nodes: Nodes;
--scores: Scores;
--calendar: Calendar;
}