[efy_lang]{
--money: Bani;
--text_editor: Editor de Text;
--img_size: Mărime Imagini;
--effects: Efecte;
--grid: Grid;
--bar_position: Poziție Bară;
--tags: Taguri;
--pitch: Pitch;
--image: Imagine;
--artist: Artist;
--title: Titlu;
--album: Album;
--keywords: Cuvinte cheie;
--punctuation: Punctuație;
--strings: Stringuri;
--comments: Comentarii;
--mono_font: Font Mono;
--song_image: Imaginea cântecului;
--transaction: Tranzacție;
--description: Descriere;
--quantity: Cantitate;
--total: Total;
--income: Venit;
--expenses: Cheltuieli;
--left_: Rămas: ;
--goals: Obiective;
--notes: Notițe;
--launcher_mode: Mod Lansare;
--unreleased: Nelansate;
--center: Centru;
--align_items: Aliniaza Item-urile;;
--priority: Prioritate;
--low: Mic;
--medium: Mediu;
--high: Mare;
--normal: Normal;
--edit: Editează;
--move: Mută;
--name: Nume;
--music_volume: Volum Muzică;
--media: Media;
--sounds: Sunete;
--goal: Obiectiv;
--note: Notiță;
--goal_note: Obiectiv / Notiță;
--time: Timp;
--vibration: Vibrație;
--contacts: Contacte;
--storage: Stocare;
--group: Grup;
--views: Views;
--cards: Carduri;
--masonry: Masonerie;
--table: Tabel;
--nodes: Noduri;
--calendar: Calendar;
--learn: Invață;
--tall: Inalt;
--start_open: Incepe Deschis;
--add_field: Adauga Camp;
--email: Email;
--emails: Email-uri;
--phone: Telefon;
--phones: Phones;
--birthday: Data Nasterii;
--task: Task;
--tasks: Tasks;
--score: Scor;
--scores: Scoruri;
--timer: Timer;
--timers: Timers;
--price: Preț;
--prices: Prețuri;
--texts: Texts;
--number: Număr;
--numbers: Numere;
--date: Dată;
--dates: Date;
--color: Culoare;
--colors: Culori;
--link: Link;
--links: Linkuri;
--open: Deschis;
--none: Nimic;
--card_accent: Accent Card;
--icon: Icoana;
--header: Header;
}