/*Global*/ @font-face {font-family: 'nunito'; src: url('../efy/nunito.woff2') format('truetype')} @font-face {font-family: 'nunito'; src: url('../efy/nunito_bold.woff2') format('truetype'); font-weight: bold}
:root {
    --efy_color1_var: 165,200,0;
    --efy_color2_var: 20,150,0;
    --efy_color_angle: 165deg;
    --efy_radius: 12rem;
    --efy_gap:  15rem;
    --efy_sidebar_button: right_top, on;
    --efy_body_width: 100%;
    --efy_body_padding: var(--efy_gap);
    --efy_font_family: 'nunito', sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --efy_audio_folder: ./efy/audio;
    --efy_folder: ./efy;
    --efy_modules: efy_quick, efy_mode, efy_filters, efy_backup, efy_accessibility, efy_language, efy_audio, efy_extra;
}
/*Default Mode*/ [efy_mode=default] {
    --efy_scheme: dark;
    --efy_bg_var: 255,255,255;
    --efy_bg: rgb(20,20,20);
    --efy_text: rgb(255,255,255);
} /*Your code starts bellow*/