/*Global*/ @font-face {font-family: 'nunito'; src: url('../efy/nunito.woff2') format('woff2'); font-weight: normal}
@font-face {font-family: 'nunito'; src: url('../efy/nunito_bold.woff2') format('woff2'); font-weight: bold}
:root {
    --efy_color: 83% 0.14 195 / 1, 70% 0.18 300 / 1, 72% 0.2 357 / 1, 85% 0.13 75 / 1;
    /*No JS Fallback*/ --efy_color1_var: 70 100% 40%; --efy_color2_var: 110 100% 30%;
    --efy_color_angle: 165deg;
    --efy_radius: 12rem;
    --efy_border_size: 1.5rem;
    --efy_gap: 15rem;
    --efy_sidebar_button: right_top, off;
    --efy_body_width: 100%;
    --efy_body_padding: var(--efy_gap);
    --efy_font_family: 'nunito', sans-serif, emoji;
    --efy_folder: ./efy;
    --efy_audio_folder: ./efy/audio;
    --efy_lang_folder: ./apps/lang;
    --efy_lang_code: en;
    --efy_modules: efy_quick, efy_mode, efy_filters, efy_backup, efy_accessibility, efy_language, efy_audio, efy_extra;
    --efy_protocol: file;
}
/*Default Mode*/ [efy_mode=default] {
    --efy_scheme: dark;
    --efy_bg_var: 0 0% 100%;
    --efy_bg_var2: 0% 0 0;
    --efy_bg: hsl(0 0% 0%);
    --efy_text: hsl(0 0% 90%);
} html[efy_mode=default]:not([efy_color_bgcol]) .efy_3d_bg {background: radial-gradient(circle at 60vw 0, hsl(174.12deg 21.19% 5.33%), #0000 50%, #0000), radial-gradient(circle at 35vw 90vh, hsl(328.57deg 20.01% 45.27% / 31%), #0000 50%, #0000), radial-gradient(circle at bottom right, #12110de3, #000000b3, hsl(191.08deg 33.87% 11.88%)) !important}

[efy_mode=default] :is(.efy_sidebar, body) {background: transparent!important}
[efy_mode=default] .efy_sidebar {backdrop-filter: blur(50rem); -webkit-backdrop-filter: blur(50rem)}

/*View Transitions API*/ @keyframes vt_in {from {opacity: 0}} @keyframes vt_out {to { opacity: 0}} @keyframes vt_in_scale {from {transform: scale(0.1)}} @keyframes vt_out_scale {to { transform: scale(0.1)}}
::view-transition-old(root) {animation: 90ms cubic-bezier(0.4, 0, 1, 1) both vt_out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both vt_out_scale}
::view-transition-new(root) {animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both vt_in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both vt_in_scale}

html.efy_iframe:not([eos=app]), html.efy_iframe:not([eos=app]) :is(body, .efy_3d_bg) {background: transparent!important}
.efy_iframe:not([eos=app]) .efy_sidebar :is(#efy_sbtheme, #efy_vfilters, #efy_backup, #efy_language, #efy_accessibility, #efy_audio, #efy_nature), .efy_iframe:not([eos=app]) .efy_sidebar > details > summary, html.efy_iframe:not([eos=app]) :is(.efy_3d_front, .efy_3d_back) {display: none}
.efy_iframe:not([eos=app]) .efy_sidebar > details {background: transparent; padding: 0; border: 0; margin: 0; box-shadow: none!important}