/*Global*/ @font-face {font-family: 'nunito'; src: url('../efy/nunito.woff2') format('truetype')} @font-face {font-family: 'nunito'; src: url('../efy/nunito_bold.woff2') format('truetype'); font-weight: bold}
:root {
    --efy_color: 70 100% 40%, 110 100% 30%; /*No JS Fallback*/ --efy_color1_var: 70 100% 40%; --efy_color2_var: 110 100% 30%;
    --efy_color_angle: 165deg;
    --efy_radius: 12rem;
    --efy_border_size: 1.5rem;
    --efy_gap: 15rem;
    --efy_sidebar_button: right_top, off;
    --efy_body_width: 100%;
    --efy_body_padding: var(--efy_gap);
    --efy_font_family: 'nunito', sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --efy_audio_folder: ./efy/audio;
    --efy_folder: ./efy;
    --efy_lang_folder: ./apps/lang;
    --efy_lang_code: en;
    --efy_modules: efy_quick, efy_mode, efy_filters, efy_backup, efy_accessibility, efy_language, efy_audio, efy_extra;
    --efy_protocol: file;
}
/*Default Mode*/ [efy_mode=default] {
    --efy_scheme: dark;
    --efy_bg_var: 0 0% 100%;
    --efy_bg: hsl(0 0% 8%);
    --efy_text: hsl(0 0% 100%);
} /*Your code starts bellow*/