:root {--efy_body_padding: 0; --ms_thumb_height: 50rem}

[ms_app] {width: 100%; height: var(--efy_100vh); max-height: var(--efy_100vh); display: flex; flex-direction: column; gap: var(--efy_gap); margin: 0; overflow: hidden; padding: var(--efy_gap)}
[ms_app*=top] {flex-direction: column-reverse}

.prev {position: relative} .prev i {transform: rotate(-180deg)!important}

.ms_loader { position: fixed; top: 15rem; left: 15rem; width: 300rem; height: 100rem; bottom: 0; background: #0003; z-index: 10; backdrop-filter: blur(10px); display: flex; justify-content: center; align-items: center; border-radius: var(--efy_radius)}

[ms_bar] {width: 100%; display: flex; gap: 10rem; flex-wrap: wrap; justify-content: space-between; padding: var(--efy_gap0); border: var(--efy_border); border-radius: var(--efy_radius2); background: var(--efy_bg1)}

#seeker_slider {width: 100%}
.audio_seeker {display: flex; gap: var(--efy_gap0); align-items: center; justify-content: center; font-weight: bold; width: 100%; max-width: 50%}

[ms_track_id].playing, [ms_track_id]:hover {background: var(--efy_color_trans); color: var(--efy_color)}
:is([ms_track_id].playing, [ms_track_id]:hover) p {background: var(--efy_color); background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent}

[ms_bar] :is(button, input, label), .player i, table, :is(.seeker-start-value, .seeker-end-value) p {margin: 0}

.ms_buttons, .ms_buttons > div {display: flex; gap: var(--efy_gap0)}
.ms_buttons button {aspect-ratio: 1; height: calc(36rem + var(--efy_border_size) * 2); align-items: center; justify-content: center: border: 0}

.ms_speed_text, .ms_time_text {display: flex; gap: 5rem; align-items: center; width: fit-content; height: 38rem; padding: 7rem 10rem; font-weight: bold; color: var(--efy_text); -webkit-text-fill-color: var(--efy_text)}
.ms_speed_text {aspect-ratio: unset!important}
.ms_speed_menu {position: absolute; display: flex; flex-wrap: wrap; gap: 10rem; width: fit-content; top: -115rem; right: 0; margin: calc(-1 * var(--efy_gap)) var(--efy_gap) 0 0}

[ms_grid] {width: 100%; display: grid; grid-template-columns: 1fr 1fr; gap: var(--efy_gap)}
[ms_grid="1"] {grid-template-columns: 1fr} [ms_grid="3"] {grid-template-columns: 1fr 1fr 1fr} [ms_grid="4"] {grid-template-columns: 1fr 1fr 1fr 1fr}

.ms_grid_box {width: 100%; height: 100%; overflow-y: auto; border-radius: var(--efy_radius)}

[ms_track_id] {display: flex; justify-content: space-between; gap: var(--efy_gap); height: fit-content; background: var(--efy_bg1); border-radius: var(--efy_radius); border: var(--efy_border); padding: var(--efy_gap0); color: var(--efy_text); cursor: pointer}
.ms_song_info {display: flex; gap: 15rem}

.songs .song {display: flex; gap: 10rem; justify-content: flex-start; align-items: center; flex-wrap: nowrap}
.audio_html {position: absolute; opacity: 0; pointer-events: none}
.song :is(.delete, :empty):not(img, i) {display: none}
.song .text {pointer-events: none; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden}
.song .text p {display: inline}
.song .number {min-width: fit-content}
.text .efy_hide_i:not(.title) + .separator {display: none!important}



#ms_music_player details:last-of-type, #ms_img_size {margin-bottom: 0}
:is(.efy_sidebar details details):not([open]) {padding: 0 12rem}

#bar_position div {display: flex; gap: var(--efy_gap0); flex-wrap: wrap}
#bar_position div label {margin: 0}

#bar_position [efy_range_text="Columns"] {margin-top: var(--efy_gap0); gap: 0}

[ms_bar] .mobile {display: none}
[ms_bar] .desktop {display: flex}
.ms_buttons2 {align-items: center; gap: var(--efy_gap0)}


.song .image {display: flex!important; height: var(--ms_thumb_height); aspect-ratio: 1; border-radius: var(--efy_radius); align-items: center; justify-content: center}
.song .image:is(.ms_empty) {border: var(--efy_border)}
.ms_empty.image {background: var(--efy_bg1)}
.ms_empty.image i {margin: 0; font-size: calc(var(--ms_thumb_height) / 2); letter-spacing: 0!important}
:is(.song:hover, .song.playing) .ms_empty.image i {background: var(--efy_color); background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent}
.image:not(.ms_empty) {background-size: cover!important; background-position: center!important; background-repeat: no-repeat!important}

.efy_sidebar {overflow-x: hidden}
html, body {overflow: hidden}

[efy_content=effects] :is(label, input) {margin: 0}
[efy_content=effects] label {margin-bottom: 5rem}
:is([efy_content=effects], [efy_content=tags]) [type=range] {margin-top: 5rem!important}
[efy_content=effects] [efy_range_text=Speed], [efy_content=tags] > div {margin-bottom: -5rem}
[efy_content=grid] p:first-of-type {margin: -5rem 0 5rem 0}

/*Convergence*/
 @media (max-width: 767.9px){
    [ms_grid] {grid-template-columns: 1fr}
    #bar_position :is(#ms_grid_columns, [efy_range_text="Columns"]), [ms_bar] .desktop {display: none}
    [ms_bar] .mobile {display: flex}
    .audio_seeker {max-width: 100%}
    .ms_buttons {justify-content: space-between; width: 100%}
}

/*Match Bar height: Optional, for gap = 0
[ms_bar] [type=range] {height: 38rem} [ms_bar] ::-moz-range-thumb {height: 38rem; width: 38rem} [ms_bar] ::-webkit-slider-thumb {width: 38rem; height: 38rem} */