:root {	--ms_song_time: 0; --efy_body_padding: 0}

[ms_app] {width: 100%; height: 100vh; max-height: 100vh; display: flex; flex-direction: column; gap: var(--efy_gap); margin: 0; overflow: hidden; padding: var(--efy_gap)}
[ms_app*=top] {flex-direction: column-reverse}

.prev {position: relative} .prev i {transform: rotate(-180deg)!important}

.ms_loader { position: fixed; top: 15rem; left: 15rem; width: 300rem; height: 100rem; bottom: 0; background: #0003; z-index: 10; backdrop-filter: blur(10px); display: flex; justify-content: center; align-items: center; border-radius: var(--efy_radius)}

[ms_bar] {width: 100%; display: flex; gap: 10rem; flex-wrap: wrap; justify-content: space-between; padding: var(--efy_gap0); border: var(--efy_border); border-radius: var(--efy_radius2); background: var(--efy_bg1)}

#seeker-slider {width: 100%}
.audio-seeker {display: flex; gap: var(--efy_gap0); align-items: center; justify-content: center; font-weight: bold; width: 100%; max-width: 50%}

[ms_track_id].playing, [ms_track_id]:hover {background: var(--efy_color_trans); color: var(--efy_color)}
:is([ms_track_id].playing, [ms_track_id]:hover) p {background: var(--efy_color); background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent}

[ms_bar] :is(button, input, label), .player i, table, :is(.seeker-start-value, .seeker-end-value) p {margin: 0}

.ms_buttons, .ms_buttons > div {display: flex; gap: var(--efy_gap0)}
.ms_buttons button {aspect-ratio: 1; height: 38rem; align-items: center; justify-content: center: border: 0}

.ms_speed_text, .ms_time_text {display: flex; gap: 5rem; align-items: center; width: fit-content; height: 38rem; padding: 7rem 10rem; font-weight: bold; color: var(--efy_text); -webkit-text-fill-color: var(--efy_text)}
.ms_speed_text {aspect-ratio: unset!important}
.ms_speed_menu {position: absolute; display: flex; flex-wrap: wrap; gap: 10rem; width: fit-content; top: -115rem; right: 0; margin: calc(-1 * var(--efy_gap)) var(--efy_gap) 0 0}

[ms_grid] {width: 100%; display: grid; grid-template-columns: 1fr 1fr; gap: var(--efy_gap)}
[ms_grid="1"] {grid-template-columns: 1fr} [ms_grid="3"] {grid-template-columns: 1fr 1fr 1fr} [ms_grid="4"] {grid-template-columns: 1fr 1fr 1fr 1fr}

.ms_grid_box {width: 100; height: 100%; overflow-y: auto; border-radius: var(--efy_radius)}

[ms_track_id] {display: flex; justify-content: space-between; gap: var(--efy_gap); height: fit-content; background: var(--efy_bg1); border-radius: var(--efy_radius); border: var(--efy_border); padding: var(--efy_padding); color: var(--efy_text); cursor: pointer}
.ms_song_info {display: flex; gap: 15rem}

.songs img {height: 60rem; width: auto}
.songs .song {display: flex; gap: 10rem; justify-content: flex-start; align-items: center; flex-wrap: wrap}
.audio_test {position: absolute; opacity: 0; pointer-events: none}
.song :is(.delete, :empty):not(img) {display: none}
.song p {overflow: hidden; max-width: 30ch; white-space: nowrap; text-overflow: ellipsis; pointer-events: none}

#ms_music_player details:last-of-type {margin-bottom: 0}
:is(#bar_position, #ms_sidebar_speed):not([open]) {padding: 0 12rem}

#bar_position div {display: flex; gap: var(--efy_gap0); flex-wrap: wrap}
#bar_position div label {margin: 0}

#bar_position [efy_range_text="Columns"] {margin-top: var(--efy_gap0); gap: 0}

[ms_bar] .mobile {display: none}
[ms_bar] .desktop {display: flex}
.ms_buttons2 {align-items: center; gap: var(--efy_gap0)}

/*Convergence*/
 @media (max-width: 767.9px){
    [ms_grid] {grid-template-columns: 1fr}
    #bar_position :is(#ms_grid_columns, [efy_range_text="Columns"]), [ms_bar] .desktop {display: none}
    [ms_bar] .mobile {display: flex}
    .audio-seeker {max-width: 100%}
    .ms_buttons {justify-content: space-between; width: 100%}
}

/*Match Bar height: Optional, for gap = 0
[ms_bar] [type=range] {height: 38rem} [ms_bar] ::-moz-range-thumb {height: 38rem; width: 38rem} [ms_bar] ::-webkit-slider-thumb {width: 38rem; height: 38rem} */