body {padding:0px; margin: 0px; position: relative}
#body-container {display: flex; flex-direction: column; justify-content: space-between; height: var(--efy_100vh); width: 100%}

.container {display: flex; flex-direction: column; justify-content:space-between; position: fixed; width: var(--efy_bg_width); height: calc(100% - 50rem - var(--efy_gap) * 2); margin: calc(var(--efy_gap) + 50rem) 0 0 0}

.scores {display: flex; gap: var(--efy_gap0); --c: 0 0% 0%}
[score] {display: flex; background: var(--efy_bg); padding: 0 8rem; border-radius: var(--efy_radius0); color: var(--efy_text2);
    p:first-of-type {padding-right: 4rem}
    p:last-of-type{ border-left: var(--efy_border_size) solid hsla(var(--c) / 0.3); padding-left: 4rem}
}

.ball {background: var(--efy_text); width: 20rem; height: 20rem; border-radius: var(--efy_radius); position: absolute; align-self: center}
.rod1, .rod2 {display: flex; width: 20vmin; height: 20rem; position: relative; left: 45%; border-radius: var(--efy_radius0)}
.center-rod {left:45%}
.rod1, [score="1"] {background: linear-gradient(165deg, #00c7fff0, #ff00e7)}
.rod2, [score="2"] {background: linear-gradient(165deg, #f90, #ff00a2f0)}
.rod3, [score="3"] {background: linear-gradient(165deg, #00d9ff, #00e26b)}
.rod4, [score="4"] {background: linear-gradient(165deg, #FFEB3B, #FF5722)}
.rod3, [score="3"], .rod4, [score="4"] {display: none}

.top-container {display: flex; justify-content: space-between; height: 50rem; align-items: center; border-bottom: var(--efy_border);
    > div {margin: 0 10rem; display: flex; gap: var(--efy_gap0)}
}

:is(body, html):has(#start_container) {margin: 0; padding: 0; display: flex}

#start_container {margin: auto; width: fit-content; padding: 15rem 0;
    h1 {line-height: 1}
    hr {margin: 10rem auto}
    > *:not(hr) {margin: 0 15rem}
    li {display: flex; gap: 8rem; align-items: center; padding: 0 15rem; margin: 0;
        i, .key {background: var(--efy_bg1); border-radius: var(--efy_radius0); padding: 2rem 6rem;
            border: var(--efy_border); margin: 0; display: flex; aspect-ratio: 1; height: var(--efy_size0);
            align-items: center; place-content: center;
        }
        .key {font-weight: bold; font-size: 18rem;
            &.space {aspect-ratio: 2}
        }
    }
    .efy_flex {margin-top: 15rem;
        button {margin: 0}
    }
}

#confetti {position: fixed; inset: 0; z-index: 99999; object-fit: cover; width: 100vw; height: var(--efy_100vh);
border-radius: 0!important; background-position: var(--efy_bg_x) var(--efy_bg_y)!important; pointer-events: none}
[efy_mode*=light] #confetti {filter: invert(1)}